.ad-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background: #eee;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;

  @media only screen and (min-device-width: 768px) {
    width: 30%;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
  p {
    margin: 15px 0px;
    font-size: 14px;
    color: $tertiary-text;
    &.ad {
      font-weight: 700;
    }
  }
}
