.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  span {
    margin-right: 10px;
  }
}

.loader {
  border: 5px solid $tertiary-text;
  border-top: 5px solid $secondary-color;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
